# oh-my-lc

## Progress Diagrams

![Build Status](https://github.com/yuetsin/oh-my-lc/workflows/build/badge.svg)
![Travis (.org)](https://img.shields.io/travis/yuetsin/oh-my-lc?color=3EAAAF&label=travis%20ci&logo=Travis%20CI&style=flat-square)

![GitHub commit activity](https://img.shields.io/github/commit-activity/w/yuetsin/oh-my-lc.svg?style=flat-square)
![GitHub language count](https://img.shields.io/github/languages/count/yuetsin/oh-my-lc.svg?style=flat-square)
![GitHub search hit counter](https://img.shields.io/github/search/yuetsin/oh-my-lc/fuck.svg?style=flat-square)

Some simple code pieces.

---

## Locked Problems

![#156](https://img.shields.io/badge/156-Medium-yellow.svg?style=flat-square) `Binary Tree Upside Down`

![#157](https://img.shields.io/badge/157-Easy-green.svg?style=flat-square) `Read N Characters Given Read4`

![#158](https://img.shields.io/badge/158-Hard-red.svg?style=flat-square) `Read N Characters Given Read4 II - Call multiple times`

![#159](https://img.shields.io/badge/159-Hard-red.svg?style=flat-square) `Longest Substring with At Most Two Distinct Characters`

![#161](https://img.shields.io/badge/161-Medium-yellow.svg?style=flat-square) `One Edit Distance`

![#163](https://img.shields.io/badge/163-Medium-yellow.svg?style=flat-square) `Missing Ranges`

![#170](https://img.shields.io/badge/170-Easy-green.svg?style=flat-square) `Two Sum III - Data structure design`

![#186](https://img.shields.io/badge/186-Medium-yellow.svg?style=flat-square) `Reverse Words in a String II`

![#243](https://img.shields.io/badge/243-Easy-green.svg?style=flat-square) `Shortest Word Distance`

![#244](https://img.shields.io/badge/244-Medium-yellow.svg?style=flat-square) `Shortest Word Distance II`

![#245](https://img.shields.io/badge/245-Medium-yellow.svg?style=flat-square) `Shortest Word Distance III`

![#246](https://img.shields.io/badge/246-Easy-green.svg?style=flat-square) `Strobogrammatic Number`

![#247](https://img.shields.io/badge/247-Medium-yellow.svg?style=flat-square) `Strobogrammatic Number II`

![#248](https://img.shields.io/badge/248-Hard-red.svg?style=flat-square) `Strobogrammatic Number III`

![#249](https://img.shields.io/badge/249-Medium-yellow.svg?style=flat-square) `Group Shifted Strings`

![#250](https://img.shields.io/badge/250-Medium-yellow.svg?style=flat-square) `Count Univalue Subtrees`

![#251](https://img.shields.io/badge/251-Medium-yellow.svg?style=flat-square) `Flatten 2D Vector`

![#252](https://img.shields.io/badge/252-Easy-green.svg?style=flat-square) `Meeting Rooms`

![#253](https://img.shields.io/badge/253-Medium-yellow.svg?style=flat-square) `Meeting Rooms II`

![#254](https://img.shields.io/badge/254-Medium-yellow.svg?style=flat-square) `Factor Combinations`

![#255](https://img.shields.io/badge/255-Medium-yellow.svg?style=flat-square) `Verify Preorder Sequence in Binary Search Tree`

![#256](https://img.shields.io/badge/256-Easy-green.svg?style=flat-square) `Paint House`

![#259](https://img.shields.io/badge/259-Medium-yellow.svg?style=flat-square) `3Sum Smaller`

![#261](https://img.shields.io/badge/261-Medium-yellow.svg?style=flat-square) `Graph Valid Tree`

![#265](https://img.shields.io/badge/265-Hard-red.svg?style=flat-square) `Paint House II`

![#266](https://img.shields.io/badge/266-Easy-green.svg?style=flat-square) `Palindrome Permutation`

![#267](https://img.shields.io/badge/267-Medium-yellow.svg?style=flat-square) `Palindrome Permutation II`

![#269](https://img.shields.io/badge/269-Hard-red.svg?style=flat-square) `Alien Dictionary`

![#270](https://img.shields.io/badge/270-Easy-green.svg?style=flat-square) `Closest Binary Search Tree Value`

![#271](https://img.shields.io/badge/271-Medium-yellow.svg?style=flat-square) `Encode and Decode Strings`

![#272](https://img.shields.io/badge/272-Hard-red.svg?style=flat-square) `Closest Binary Search Tree Value II`

![#276](https://img.shields.io/badge/276-Easy-green.svg?style=flat-square) `Paint Fence`

![#277](https://img.shields.io/badge/277-Medium-yellow.svg?style=flat-square) `Find the Celebrity`

![#280](https://img.shields.io/badge/280-Medium-yellow.svg?style=flat-square) `Wiggle Sort`

![#281](https://img.shields.io/badge/281-Medium-yellow.svg?style=flat-square) `Zigzag Iterator`

![#285](https://img.shields.io/badge/285-Medium-yellow.svg?style=flat-square) `Inorder Successor in BST`

![#286](https://img.shields.io/badge/286-Medium-yellow.svg?style=flat-square) `Walls and Gates`

![#288](https://img.shields.io/badge/288-Medium-yellow.svg?style=flat-square) `Unique Word Abbreviation`

![#291](https://img.shields.io/badge/291-Hard-red.svg?style=flat-square) `Word Pattern II`

![#293](https://img.shields.io/badge/293-Easy-green.svg?style=flat-square) `Flip Game`

![#294](https://img.shields.io/badge/294-Medium-yellow.svg?style=flat-square) `Flip Game II`

![#296](https://img.shields.io/badge/296-Hard-red.svg?style=flat-square) `Best Meeting Point`

![#298](https://img.shields.io/badge/298-Medium-yellow.svg?style=flat-square) `Binary Tree Longest Consecutive Sequence`

![#302](https://img.shields.io/badge/302-Hard-red.svg?style=flat-square) `Smallest Rectangle Enclosing Black Pixels`

![#305](https://img.shields.io/badge/305-Hard-red.svg?style=flat-square) `Number of Islands II`

![#308](https://img.shields.io/badge/308-Hard-red.svg?style=flat-square) `Range Sum Query 2D - Mutable`

![#311](https://img.shields.io/badge/311-Medium-yellow.svg?style=flat-square) `Sparse Matrix Multiplication`

![#314](https://img.shields.io/badge/314-Medium-yellow.svg?style=flat-square) `Binary Tree Vertical Order Traversal`

![#317](https://img.shields.io/badge/317-Hard-red.svg?style=flat-square) `Shortest Distance from All Buildings`

![#320](https://img.shields.io/badge/320-Medium-yellow.svg?style=flat-square) `Generalized Abbreviation`

![#323](https://img.shields.io/badge/323-Medium-yellow.svg?style=flat-square) `Number of Connected Components in an Undirected Graph`

![#325](https://img.shields.io/badge/325-Medium-yellow.svg?style=flat-square) `Maximum Size Subarray Sum Equals k`

![#333](https://img.shields.io/badge/333-Medium-yellow.svg?style=flat-square) `Largest BST Subtree`

![#339](https://img.shields.io/badge/339-Easy-green.svg?style=flat-square) `Nested List Weight Sum`

![#340](https://img.shields.io/badge/340-Hard-red.svg?style=flat-square) `Longest Substring with At Most K Distinct Characters`

![#346](https://img.shields.io/badge/346-Easy-green.svg?style=flat-square) `Moving Average from Data Stream`

![#348](https://img.shields.io/badge/348-Medium-yellow.svg?style=flat-square) `Design Tic-Tac-Toe`

![#351](https://img.shields.io/badge/351-Medium-yellow.svg?style=flat-square) `Android Unlock Patterns`

![#353](https://img.shields.io/badge/353-Medium-yellow.svg?style=flat-square) `Design Snake Game`

![#356](https://img.shields.io/badge/356-Medium-yellow.svg?style=flat-square) `Line Reflection`

![#358](https://img.shields.io/badge/358-Hard-red.svg?style=flat-square) `Rearrange String k Distance Apart`

![#359](https://img.shields.io/badge/359-Easy-green.svg?style=flat-square) `Logger Rate Limiter`

![#360](https://img.shields.io/badge/360-Medium-yellow.svg?style=flat-square) `Sort Transformed Array`

![#361](https://img.shields.io/badge/361-Medium-yellow.svg?style=flat-square) `Bomb Enemy`

![#362](https://img.shields.io/badge/362-Medium-yellow.svg?style=flat-square) `Design Hit Counter`

![#364](https://img.shields.io/badge/364-Medium-yellow.svg?style=flat-square) `Nested List Weight Sum II`

![#366](https://img.shields.io/badge/353-Medium-yellow.svg?style=flat-square) `Find Leaves of Binary Tree`

![#369](https://img.shields.io/badge/369-Medium-yellow.svg?style=flat-square) `Plus One Linked List`

![#370](https://img.shields.io/badge/370-Medium-yellow.svg?style=flat-square) `Range Addition`

![#379](https://img.shields.io/badge/379-Medium-yellow.svg?style=flat-square) `Design Phone Directory`

![#408](https://img.shields.io/badge/408-Easy-green.svg?style=flat-square) `Valid Word Abbreviation`

![#411](https://img.shields.io/badge/411-Hard-red.svg?style=flat-square) `Minimum Unique Word Abbreviation`

![#418](https://img.shields.io/badge/418-Medium-yellow.svg?style=flat-square) `Sentence Screen Fitting`

![#422](https://img.shields.io/badge/422-Easy-green.svg?style=flat-square) `Valid Word Square`

![#425](https://img.shields.io/badge/425-Hard-red.svg?style=flat-square) `Word Squares`

![#426](https://img.shields.io/badge/426-Medium-yellow.svg?style=flat-square) `Convert Binary Search Tree to Sorted Doubly Linked List`

![#428](https://img.shields.io/badge/428-Hard-red.svg?style=flat-square) `Serialize and Deserialize N-ary Tree`

![#431](https://img.shields.io/badge/431-Hard-red.svg?style=flat-square) `Encode N-ary Tree to Binary Tree`

![#439](https://img.shields.io/badge/439-Medium-yellow.svg?style=flat-square) `Ternary Expression Parser`

![#444](https://img.shields.io/badge/444-Medium-yellow.svg?style=flat-square) `Sequence Reconstruction`

![#465](https://img.shields.io/badge/465-Hard-red.svg?style=flat-square) `Optimal Account Balancing`

![#469](https://img.shields.io/badge/469-Medium-yellow.svg?style=flat-square) `Convex Polygon`

![#471](https://img.shields.io/badge/471-Hard-red.svg?style=flat-square) `Encode String with Shortest Length`

![#484](https://img.shields.io/badge/484-Medium-yellow.svg?style=flat-square) `Find Permutation`

![#487](https://img.shields.io/badge/487-Medium-yellow.svg?style=flat-square) `Max Consecutive Ones II`

![#489](https://img.shields.io/badge/489-Hard-red.svg?style=flat-square) `Robot Room Cleaner`

![#490](https://img.shields.io/badge/490-Medium-yellow.svg?style=flat-square) `The Maze`

![#499](https://img.shields.io/badge/499-Hard-red.svg?style=flat-square) `The Maze III`

![#505](https://img.shields.io/badge/505-Medium-yellow.svg?style=flat-square) `The Maze II`

![#510](https://img.shields.io/badge/510-Medium-yellow.svg?style=flat-square) `Inorder Successor in BST II`

![#511](https://img.shields.io/badge/511-Easy-green.svg?style=flat-square) `Game Play Analysis I`

![#512](https://img.shields.io/badge/512-Easy-green.svg?style=flat-square) `Game Play Analysis II`

![#527](https://img.shields.io/badge/527-Hard-red.svg?style=flat-square) `Word Abbreviation`

![#531](https://img.shields.io/badge/531-Medium-yellow.svg?style=flat-square) `Lonely Pixel I`

![#533](https://img.shields.io/badge/533-Medium-yellow.svg?style=flat-square) `Lonely Pixel II`

![#534](https://img.shields.io/badge/534-Medium-yellow.svg?style=flat-square) `Game Play Analysis III`

![#536](https://img.shields.io/badge/536-Medium-yellow.svg?style=flat-square) `Construct Binary Tree from String`

![#544](https://img.shields.io/badge/544-Medium-yellow.svg?style=flat-square) `Output Contest Matches`

![#545](https://img.shields.io/badge/545-Medium-yellow.svg?style=flat-square) `Boundary of Binary Tree`

![#548](https://img.shields.io/badge/548-Medium-yellow.svg?style=flat-square) `Split Array with Equal Sum`

![#549](https://img.shields.io/badge/549-Medium-yellow.svg?style=flat-square) `Binary Tree Longest Consecutive Sequence II`

![#550](https://img.shields.io/badge/550-Medium-yellow.svg?style=flat-square) `Game Play Analysis IV`

![#555](https://img.shields.io/badge/555-Medium-yellow.svg?style=flat-square) `Split Concatenated Strings`

![#562](https://img.shields.io/badge/562-Medium-yellow.svg?style=flat-square) `Longest Line of Consecutive One in Matrix`

![#568](https://img.shields.io/badge/568-Hard-red.svg?style=flat-square) `Maximum Vacation Days`

![#569](https://img.shields.io/badge/569-Hard-red.svg?style=flat-square) `Median Employee Salary`

![#570](https://img.shields.io/badge/570-Medium-yellow.svg?style=flat-square) `Managers with at Least 5 Direct Reports`

![#571](https://img.shields.io/badge/571-Hard-red.svg?style=flat-square) `Find Median Given Frequency of Numbers`

![#573](https://img.shields.io/badge/573-Medium-yellow.svg?style=flat-square) `Squirrel Simulation`

![#574](https://img.shields.io/badge/574-Medium-yellow.svg?style=flat-square) `Winning Candidate`

![#577](https://img.shields.io/badge/577-Easy-green.svg?style=flat-square) `Employee Bonus`

![#578](https://img.shields.io/badge/578-Medium-yellow.svg?style=flat-square) `Get Highest Answer Rate Question`

![#579](https://img.shields.io/badge/579-Hard-red.svg?style=flat-square) `Find Cumulative Salary of an Employee`

![#580](https://img.shields.io/badge/580-Medium-yellow.svg?style=flat-square) `Count Student Number in Departments`

![#582](https://img.shields.io/badge/582-Medium-yellow.svg?style=flat-square) `Kill Process`

![#584](https://img.shields.io/badge/584-Easy-green.svg?style=flat-square) `Find Customer Referee`

![#585](https://img.shields.io/badge/585-Medium-yellow.svg?style=flat-square) `Investments in 2016`

![#586](https://img.shields.io/badge/586-Easy-green.svg?style=flat-square) `Customer Placing the Largest Number of Orders`

![#588](https://img.shields.io/badge/588-Hard-red.svg?style=flat-square) `Design In-Memory File System`
